pkgbase = feather-wallet
	pkgdesc = A free Monero desktop wallet
	pkgver = 2.8.1
	pkgrel = 1
	url = https://featherwallet.org
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = cmake
	makedepends = boost
	depends = boost-libs
	depends = expat
	depends = hidapi
	depends = libgcrypt
	depends = libsodium
	depends = libunwind
	depends = libusb
	depends = libzip
	depends = openssl
	depends = protobuf
	depends = qrencode
	depends = qt6-base
	depends = qt6-multimedia
	depends = qt6-svg
	depends = qt6-websockets
	depends = unbound
	depends = zbar
	depends = rapidjson
	depends = zxing-cpp
	optdepends = tor: To use .onion Monero nodes
	conflicts = monero-feather
	conflicts = monero-feather-git
	conflicts = featherwallet-bin
	conflicts = featherwallet-appimage
	source = https://featherwallet.org/files/releases/source/feather-2.8.1.tar.gz
	source = epee-cmath.patch
	source = zxing-reader-options.patch
	sha256sums = 1db8cbc5123abc8de63c96e6aedc08a8cda669b032b75c18f955e71ce8c4291e
	sha256sums = 07a66440c7decb2f923a6f35a79227352a692f465c895d2f96b3d9bcca60da1b
	sha256sums = 1506ce6fda96e526d2811c4a35116310834668c46b21e815bcfb31868f909180

pkgname = feather-wallet
